html {
	font-size: 62.5%;
	background-color: $white;
}
body {
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica, Hiragino Sans GB, SimHei, Microsoft Yahei, sans-serif;
	color: $text;
}
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
  	font-style: normal;
  	font-stretch: normal;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 1.6rem;
}
blockquote, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	font-size: 1.8rem;
}
a {
	text-decoration: none;
	color: $link;
	-webkit-tap-highlight-color: rgba(255,255,255,0.35);
	-webkit-touch-callout: none;
}
i, em, address, cite {
	font-style: normal;
}
a:active, a:visited, img {
	outline: none;
}
input, button, select, textarea {
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0.35);
	border-radius: 0.4rem;
	font-size: 1.6rem;
}
button {
	&:hover {
		cursor: pointer;
	}
}
textarea {
	resize: none
}
::-webkit-input-placeholder { color: $text-light; }
::-moz-placeholder { color: $text-light; } /* firefox 19+ */
:-ms-input-placeholder { color: $text-light; } /* ie */
input:-moz-placeholder { color: $text-light; }
i {
	display: inline-block;
}

.z-clearfix {
	zoom: 1;
    
    &:before,
    &:after{
        content: "";
        display: table;
    }

    &:after{
        clear: both;
    }
}